body{
    margin: 0;
    padding: 0;
    background-image: url("../img/captain2-bg.jpg");
    font-family: 'Bubblegum Sans', cursive;


}
h5{
    margin-block-start: 0.67em;
}
p {
    display: block;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.top-box{
    height: 100px;
    display: flex;
    justify-content: center;
    
}
.border-box{
    background-color: blanchedalmond;
    border: 4px solid black;
    border-radius: 10%;

}
.score-board{
    width: 508px;
    box-sizing: border-box;
    padding: 0 5px;
}
.score-board p{
    font-size: 22px;
}
.game-box{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.start-menu{
    /* display: none; */
    width: 500px;
    height: 500px;

}
.start-menu h2{
    text-align: center;
}
.start-menu img{
    position: relative;
    width: 74px;
    left: 50%;
    transform: translateX(-50% );
    
}
.btn-box{
    position: relative;
    width: 150px;
    height: 150px;
    left: 50%;
    transform: translateX(-50% );
}
.bg-star{
    position: absolute;
    z-index: 1;
    width: 150px;
    height: 150px;
    background-image: url('../img/blamo.png');
    background-size: contain;
    background-repeat: no-repeat;


}

.underpants{
    position: absolute;
    z-index: 2;
    top: 17px;
    width: 150px;
    height: 100px;
    background-image: url('../img/underpants.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: pulse 1s linear infinite;
    animation-play-state: paused; 

}
.underpants:hover{
    animation-play-state: running;

    
}

.diff-choice{
    display: flex;
    justify-content: space-around;
}
.diff{
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 50%;
}
#easy{
    background-color: rgb(114, 209, 181);
    transform: rotate(10deg);
    animation: pulse 1s linear infinite;
    animation-play-state: paused; 
}
#easy:hover{
    animation-play-state: running;

}
#medium{
    background-color: rgb(114, 171, 209);
    transform: rotate(-10deg);
    animation: pulse 1s linear infinite;
    animation-play-state: paused; 
}
#medium:hover{
    animation-play-state: running;

}
#hard{
    background-color: rgb(245, 67, 67);
    transform: rotate(15deg);
    animation: pulse 1s linear infinite;
    animation-play-state: paused; 
}
#hard:hover{
    animation-play-state: running;

}

@keyframes pulse{
    
    50% {transform: scale(1.1);}
    100% {transform: scale(1); }
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;

}
.card-row{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card{
    width: 140px;
    height: 140px;
    margin: 3px;
    background-size: cover;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}
.card img{
    width: 140px;
    height: 140px;

}

@media only screen and (max-width:900px){
    .card{
        height: 17vh;
        width: 15vw;
    }
    .card img{
        height: 17vh;
        width: 15vw;
    }
}
@media only screen and (max-width:568px){
    .card{
         height: 13vh;
         width: 23vw;
    }
     
     .card img{
         height: 13vh;
         width: 23vw;
     }
 }
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .hidden .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }
  .blur{
    backdrop-filter: blur(2px);
}
  .modal {
    display: block;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
    margin: 30% auto; 
    padding: 20px;
    width: 80%; 
    height: 200px;
  }
  .modal-content p{
      font-size: 40px;
      text-align: center;
  }
 .button-holder{
     display: flex;
     justify-content: space-around;
 }
  .modal-content button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 9px #999;
  }
  
  button:hover {
filter: hue-rotate(90deg);      
}
  
  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  #backToStart{
    background-color: rgb(122, 103, 233);


  }
  #replay{
    background-color: rgb(236, 125, 203);


  }